.character {
  .wifi1 {
    width: 80px;
    position: absolute;
    top: 90px;
  }

  .wifi2 {
    height: 100px;
    position: absolute;
    top: 30px;
  }

  .wifi3 {
    height: 80px;
    position: absolute;
    top: 20px;
    margin-left: 10px;
  }

  .wifi-wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  .cat {
    width: 350px;
    height: 395px;
    margin-left: 20px;
    mt
  }

  .cat-wrapper {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    position: relative;
  }

  .eyes {
    width: 171px;
    height: 177px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-45%, -55%);
  }
}

@keyframes eyesMove {
  0% {
    transform: translate(-45%, -55%);
  }

  12.5% {
    transform: translate(-40%, -55%);
  }

  25% {
    transform: translate(-50%, -55%);
  }

  37.5% {
    transform: translate(-40%, -55%);
  }

  50% {
    transform: translate(-50%, -55%);
  }

  62.5% {
    transform: translate(-40%, -60%);
  }

  75% {
    transform: translate(-40%, -60%);
  }

  87.5% {
    transform: translate(-45%, -55%);
  }

  100% {
    transform: translate(-45%, -55%);
  }
}

.eyes {
  animation: eyesMove 8s infinite;
}

@keyframes wifianimation {
  0% {
    opacity: 0.8;
  }
  5% {
    opactiy: 1;
  }
  6% {
    opactiy: 0.1;
  }
  100% {
    opactiy: 0.1;
  }
}

.wifi {
  opacity: 0;
  animation: wifianimation 2s infinite;
}

.wifi3 {
  -o-animation-delay: 800ms;
  -moz-animation-delay: 800ms;
  -webkit-animation-delay: 800ms;
  animation-delay: 800ms;
}

.wifi2 {
  -o-animation-delay: 400ms;
  -moz-animation-delay: 400ms;
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}
