.library-site {
  p {
    font-size: 22px;
    text-align: center;
    margin-block-start: 35px;
  }

  figure {
    width: 100%;
    height: 550px;
    text-align: center;
    align-content: center;
    border: 1px solid black;
    margin-block-end: 30px;
  }
}
