.library-site {
  background-color: #fff;

  .library-room-name {
    font-size: 22px;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 55px;
    font-family: "LaundryGothic Regular";
  }

  .library-page-wrapper {
    img {
      width: 100%;
      height: auto;
    }
  }
}
