.main-button {
  font-size: 17px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 27px;
  padding-block-end: 95px;
  margin-inline: 30px;

  .library-btn,
  .classroom-btn {
    inline-size: 150px;
    block-size: 100px;
    border-radius: 10px;
    border: 0;
    color: #fff;
    background-color: #182981;
    font-family: "LaundryGothic Bold";
    font-size: 17px;
  }
}
