.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Optional: evenly space between left and right sections */
    background-color: #fff;
    z-index: 2;
  }
  
  .navbar-left-section {
    margin-left: 20px;
    display: flex;
    align-items: center;
  }
  
  .navbar-logo {
    width: 13px;
    height: 20px;
    cursor: pointer;
    vertical-align: middle; /* Aligns the logo vertically in the center */
  }
  
  .navbar-title-section {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    height: 100%; /* Ensure the section takes the full height of the navbar */
  }
  
  .navbar-title {
    color: #182981;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    line-height: normal; /* Reset line-height */
    text-decoration: none; /* Removes any underline */
  }
  
