.stair-container {
    margin-top: 100px;
    display: flex;
    flex-direction: row; /* Steps will be aligned in a row */
    align-items: flex-end; /* Aligns steps to bottom */
    width: 100%;
    height: 252px;
  }
  
  .stair-step {
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: #182981;
    color: white;
    font-size: 20px;
    font-family: 'Adlam Display', sans-serif;
    font-weight: 400;
    text-align: center;
    border-radius: 5px;
    position: relative;
    cursor: pointer; /* 클릭 가능하게 표시 */
  }
  .step-decorator {
    position: absolute;
    top: -5px; /* 계단 아래쪽에 위치 */
    left: 0;
    width: 100%; /* 너비는 계단과 동일하게 */
    height: 16px; /* 고정 높이 16px */
    background-color: #B9BFE3; /* 배경색 설정 */
    border-top-left-radius: 10px; /* 왼쪽 경계를 둥글게 */
  }
  .icon-container {
    position: absolute;
    top: -40px; /* 아이콘을 계단 위에 위치 */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: top 0.5s ease-in-out; /* 위치 변화 시 애니메이션 적용 */
  }
  .stair-floor{
    margin-top: 10px;
  }
  .icon {
    width: 40px; /* 아이콘 크기 조절 */
    height: 40px;
    animation: bounce 1.3s ease-in-out infinite; /* 애니메이션을 아이콘에만 적용 */
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-50px); /* 위로 튀기 */
    }
    60% {
      transform: translateY(-5px);  /* 살짝 덜 튀기 */
    }
  }
  