.topbar {
  position: sticky;
  inset-block-start: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  margin-top: 30px;
  margin-bottom: 10px;

  .topbar-logo {
    width: 13px;
    height: 20px;
    cursor: pointer;
    vertical-align: middle;
    border: none;
  }

  .topbar-title {
    color: #182981;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    line-height: normal;
    text-decoration: none;
  }

  .topbar-left-section {
    margin-left: 20px;
    display: flex;
    align-items: center;
  }

  .topbar-title-section {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-inline-end: 50px;
  }
}
