.main-library {
  background-color: #fff;
  display: grid;
  gap: 28px;
  height: 700px;
  inline-size: 390px;

  header {
    margin-top: 22px;
  }

  .library_rooms {
    margin-top: 130px;
    display: grid;
    gap: 12px;
    justify-content: center;
    overflow-y: scroll;
    inline-size: 390px;
  }

  .library_rooms::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
  }

  .library_rooms::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    border-radius: 10px;
  }

  a {
    display: inline-block;
    inline-size: 325px;
    block-size: 125px;
  }
}
