.main-library {
  background-color: #fff;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  gap: 18px;

  .library_rooms {
    background-color: #fff;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 12px;
    justify-content: center;

    /* inline-size: 390px; */
  }

  a {
    display: inline-block;
    inline-size: 325px;
    block-size: 125px;
  }

  button {
    all: unset;
  }
}
/* library.css 파일에 추가 */
.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.spinner div {
  width: 40px;
  height: 40px;
  border: 4px solid #182981; /* 스피너 색상 */
  border-top: 4px solid #f3f3f3;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loading-spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Center it vertically in the viewport */
}

.loading-spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top: 8px solid #182981;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
