.m3_container {
  position: relative;
  width: calc(100% - 40px);
  height: 643px;
  margin: 143px auto 0 auto;
  border: 3px solid #dfdfdf;
  border-radius: 5px;
  background-color: #ffffff;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between; /* 왼쪽과 오른쪽으로 RoomBox를 배치 */
  padding: 20px 40px; /* 컨테이너 안에 여백 추가 */

  .marker-bottom-left {
    top: 90%;
  }
}

.marker-nicols {
  display: flex;
  flex-direction: column; /* 세로 방향으로 배치 */
  justify-content: center;
  align-items: center;
  width: 76px;
  height: 19px;
  background-color: #dfdfdf; /* 배경색 */
  font-family: "ADLaM Display", sans-serif; /* 폰트 */
  font-size: 14px;
  font-weight: 500; /* regular */
  /* 한글자씩 간격 */
  color: black;
}

.marker-nicols span {
  display: block;
}

.marker-top-right-nicols {
  top: -10px;
  right: 20px;
}
