.mainpage {
  background-color: #fff;
  color: #182981;
  flex: 1;
  overflow: hidden;
  .title {
    font-size: 48px;
    text-align: center;
    font-family: "title-font";
  }

  .sub-title {
    font-size: 15px;
    text-align: right;
    text-align: center;
    margin-left: 120px;
    padding-block-start: 100px;
    font-family: "LaundryGothic Regular";
  }
}
