.mainpage {
  background-color: #fff;
  color: #182981;
  padding-block-start: 120px;
  flex: 1;

  h1 {
    font-size: 48px;
    text-align: center;
    font-family: "ADLaM Display";
  }

  p {
    font-size: 15px;
    text-align: right;
    text-align: center;
    margin-left: 70px;
  }
}
