.n1_container {
    position: relative;
    width: calc(100% - 40px);
    height: 643px;
    margin: 143px auto 0 auto;
    border: 3px solid #DFDFDF;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;  /* 왼쪽과 오른쪽으로 RoomBox를 배치 */
    padding: 20px 40px;  /* 컨테이너 안에 여백 추가 */
  }
  .centered-text {
    display: flex;
    flex-direction: column;  /* 세로 방향으로 정렬 */
    justify-content: center;
    align-items: center;
    height: 100%;  /* 부모 높이에 맞추기 */
    color: #A0A0A0;  /* 글자 색상 */
    font-family: 'ADLaM Display', sans-serif;  /* 글꼴 */
    font-size: 20px;  /* 글자 크기 */
    line-height: 40px;  /* 줄 높이 */
    letter-spacing: 0px;  /* 글자 간격 */
    text-align: center;  /* 가운데 정렬 */
  }
  
  .room-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;  /* RoomBox들이 위아래로 균등하게 배치 */
  }
  
  .room-column-left {
    align-items: flex-start;  /* 왼쪽 정렬 */
  }
  
  .room-column-right {
    align-items: flex-end;  /* 오른쪽 정렬 */
  }
  
  .room-box {
    width: 82px;
    height: 80px;
    background-color: #B9BFE3;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: black;
    position: relative;
  }
  
  .room-box-content {
    position: relative;
    z-index: 1;
  }
  
  .room-box-highlight {
    background-color: #FFD700;  /* 강조된 RoomBox 배경 색상 */
  }
  
  /* 상단, 하단, 왼쪽, 오른쪽에 배치되는 파란색/빨간색 표시 */
.border-marker {
    position: absolute;
    width: 60px;
    height: 8px;
    border-radius: 100px;
  }
  
  .marker-blue {
    background-color: #182981;  /* 파란색 */
  }
  
  .marker-red {
    background-color: #D0121C;  /* 빨간색 */
  }
  
  /* 각 위치에 따른 절대 위치 설정 */
  .marker-top-left {
    top: 25px;
    left: -30px; /* 왼쪽에서 약간 떨어뜨리기 */
    transform: rotate(90deg);
  }
  
  .marker-top-right {
    top: 25px;
    right: -30px;
    transform: rotate(90deg)
  }
  
  .marker-bottom-left {
    top: 60%;
    left: -30px;
    transform: rotate(90deg)
  }
  
  .marker-bottom-right {
    bottom: 0;
    right: calc(50% - 40px);
    transform: translateY(50%);
  }
  
  .marker-center-left {
    top: 0;
    left: calc(50% - 40px);
    
    transform: translateY(-50%);
  }
  
  .marker-center-right {
    top: 60%;
    right: -30px;
    transform: rotate(90deg);
  }
  .label-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;  
    margin-top: 20px;  /* Margin of 20px from the top */
  }
  .label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 8px;
    border-radius: 100px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    margin-right: 10px; /* Space between labels */
  }
  
  .label-exit {
    background-color: #182981;  /* Color for "입출구" */
  }
  
  .label-stairs {
    background-color: #D0121C;  /* Color for "계단" */
  }
  
  .label-text {
    margin-left: 5px; /* Space between the label and text */
    color: black;
    font-size: 20px;
    font-weight: bold;
  }