.room-centered-box {
    margin-top: 140px;
    width: 80%;
    height: 141px;
    background-color: rgba(185, 191, 227, 0.32); /* Slightly transparent background color */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Even spacing between the items */
    align-items: center;
    padding: 17px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px; /* Increased border radius for smoother corners */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); /* Soft shadow for a subtle 3D effect */
    border: 1px solid rgba(24, 41, 129, 0.2); /* Light blue border */
    transition: all 0.3s ease-in-out; /* Smooth transition for hover effects */
}
  
.room-centered-box:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15); /* Slightly larger shadow on hover */
    transform: translateY(-5px); /* Lifts the box slightly when hovered */
}

.room-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Even spacing between text elements */
    height: 100%; /* Make sure the height fills the parent */
    width: 100%;
}

.room-faded-text {
    font-size: 22px; /* Font size for the top and bottom text */
    color: rgba(24, 41, 129, 0.5); /* Faded text color */
    font-family: 'Abel', sans-serif; /* Abel font for faded text */
    font-weight: 400;
    text-align: center;
}

.room-centered-text {
    font-size: 31px; /* Larger font size for center text */
    color: #182981; /* Dark blue color */
    font-family: 'Abel', sans-serif; /* Abel font for centered text */
    font-weight: bold; /* Make the center text bold */
    text-align: center;
}
  .room-category p {
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
  .room-button-container {
    display: flex;
    justify-content: center;
    margin-top: 91px;
  }
  
  .room-button {
    width: 80%;
    height: 60px;
    background-color: #182981;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
  }
  